<!DOCTYPE html>
<html>
<head>
    <title>TaskApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include("../partials/navbar") %>

    <main>
        <%- body %>
    </main>

</body>
</html>
